<hr class="le-hre">

<section id="clients">
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>clients</h1>
    </div>
  </div>

  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="portfolio-holder">
            <div id="portfolio-grid" class="row">

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item marketing">
                <a><%= image_tag('portfolio/work09.jpg', alt: 'Conichi', width: 350) %></a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      Conichi
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      smart hotels platform
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item marketing">
                <a><%= image_tag('portfolio/work01.jpg', alt: 'Aquipa Partner', width: 350) %></a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      Aquipa Partner
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      customer acquisition platform
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item marketing entertainment">
                <a><%= image_tag('portfolio/work06.jpg', alt: 'NBC Universal', width: 350) %></a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      nbc universal
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      media and entertainment
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item streaming entertainment">
                <a><%= image_tag('portfolio/work05.jpg', alt: 'Hulu', width: 350) %></a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      hulu
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      video streaming service
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item entertainment">
                <a><%= image_tag('portfolio/work04.jpg', alt: 'Astrology', width: 350) %></a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      astrology
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      live astrology services
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item entertainment">
                <a><%= image_tag('portfolio/work11.jpg', alt: 'iVillage', width: 350) %></a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      ivillage
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      media and entertainment
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item entertainment">
                <a><%= image_tag('portfolio/work08.jpg', alt: 'Exit Reality', width: 350) %></a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      Exit Reality
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      virtual reality pioneer
                    </div>
                  </div>
                </div>
              </figure>

              <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item entertainment">
                <a><%= image_tag('portfolio/work12.jpg', alt: 'Macmillan Digital Education', width: 350) %></a>
                <div class="holder">
                  <div class="paper has-shadow title">
                    <div class="content">
                      Digital Education
                    </div>
                  </div>

                  <div class="paper has-shadow category">
                    <div class="content">
                      leading educational publisher
                    </div>
                  </div>
                </div>
              </figure>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
