<% provide(:title, @post.title) %>
<section class="single-post big-name">
  <div class="sticky-paper-head has-shadow">
    <div class="content">
      <h1>Nino</h1>
      <div class="short-tag">
        ruby on rails engineer
      </div>
    </div>
  <div class="shadow"></div></div>

  <a name="title"></a>

  <div class="sticky-paper-body has-shadow">
    <div class="content">
      <div class="short-desc">
        <%= @post.title %>
      </div>

      <div class="single-post">
        <div class="date">
          <%= format_date(@post.created_at) %>
        </div>

        <div class="content">
          <%= markdown(@post.content) %>
        </div>

        <div class="share-row">
          <div class="row">
            <div class="col-xs-12 col-sm-10">
              <ul class="social-icons small">
                <li><strong>Share on</strong></li>
                
                <li><a class="fa fa-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= post_position(post_url(@post)) %>&amp;title=<%= @post.title %>&amp;source=<%= root_url %>"></a></li>
                <li><a class="fa fa-twitter" href="http://twitter.com/home?status=<%= @post.title %>+<%= post_position(post_url(@post)) %>"></a></li>
                <li><a class="fa fa-facebook" href="http://www.facebook.com/share.php?u=<%= post_position(post_url(@post)) %>&amp;title=<%= @post.title %>"></a></li>
              </ul> 
            </div>
            <div class="col-xs-12 col-sm-2 counter-holder">
              <div class="counter">
                <span><%= @post.unique_views %></span> views 
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<hr class="le-hre">

<section>
  <div class="sticky-paper-head has-shadow">
    <div class="content ">
      <h1>comments</h1>
    </div>
  </div>

  <div class="sticky-paper-body has-shadow " >
    <div class="content">
      <%- disqus_thread %>
    </div>
  </div>
</section>
