<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <meta name="title" content="Nino - Ruby on Rails Engineer">
    <meta name="keywords" content="Ruby, Rails, Engineer, Consultant, Developer, Programmer, Remote, Part-Time, Full-Time, Nino, Ninoslav, Milenovic, Milenović">
    <meta name="description" content="Software engineer and technical lead. Open-source enthusiast and mentor at Rails Girls Serbia. Passionate about start-ups and a technical leader that can help build the next hot venture in a Ruby environment from the ground up.">
    <meta name="robots" content="all">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,400,600' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= disqus_init %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57005641-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="preloader">
      <div id="status">&nbsp;</div>
      <noscript>JavaScript is off. Please enable to view full site.</noscript>
    </div>

    <div class="wrapper">
      <div class="container">
        <%= render 'shared/header' %>

        <%= yield %>

        <%= render 'shared/footer' %>
      </div>
    </div>

    <a class="goto-top" href="#gotop"></a>
  </body>
</html>
